<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='walper.ico') }}" type="image/x-icon">
    <title>About the Walper Club</title>
</head>
<body>
    <h1 id="center">What is the Walper Club?</h1>
    <h2 id="center">The Walper Club is a small grupe of walpers.</h2>
    <h1 id="center">Are there any goals?</h1>
    <h2 id="center">There are no goals for the Walper Club, only to walper more.</h2>
    <h1 id="center">How do I join?</h1>
    <h2 id="center">Join the <a href="loremipsum">Discord</a>, change your pfp to the <a href={{ url_for('static', filename='walper.webp') }}>dabloon cat</a> and ur display name to walper.</h2>
</body>
</html>