<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walper Club</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='walper.ico') }}" type="image/x-icon">
</head>
<body>
    <h1 id="bigText">The Walper Club</h1>
    <a href="/about"><h2 id="bigLink">What's this?</h2></a>
    <a href="/walper"><h2 id="bigLink">What's "Walper"?</h2></a>
    <a href="/walperpedia"><h2 id="bigLink">The WalperPedia</h2></a>
    <a href="https://discord.gg/NVr6emu8ws"><h2 id="bigLink">Discord</h2></a>
</body>
</html>