<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walper Club</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='walper.ico') }}" type="image/x-icon">
</head>
<body>
    <h1 id="center">The Walper Club</h1>
    <a href={{ render_template('about.html') }}><h2 id="bigLink">What's this?</h2></a>
    <a href={{ render_template('walper.html') }}><h2 id="bigLink">What's "Walper"?</h2></a>
    <a href={{ render_template('WalperPedia.html') }}><h2 id="bigLink">The WalperPedia</h2></a>
    <a href="discord.com"><h2 id="bigLink">Discord</h2></a>
</body>
</html>