<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='walper.ico') }}" type="image/x-icon">
    <title>WalperPedia</title>
</head>
<body>
    <h1 id="center">WalperPedia: notable walpers</h1>
    <h2 id="center">In this part of the website, you will find a list of notable walpers.</h2>
    <h3 id="center">Walper</h3>
    <img src="{{ url_for('static', filename='walper.webp') }}" alt="walper" style="float: left" id="walperImage">
    <p><br><br><br>This walper is the first one calling himself that, and hosts this website, also the Czech one. <br>He would like to call himself a programmer but can't due to some issues of skill.</p>
    <br><br><br><br>
    <h3 id="center">Walper</h3>
    <img src="{{ url_for('static', filename='walper.webp') }}" alt="walper" style="float: left" id="walperImage">
    <p>Nationality: German<br>
        Name: Jan Schneider<br>
        Age: 16 (Oct. 14 2008)<br>
        I use arch btw<br>
        Hobbies: Programming and Video editing<br>
        Languages: German, English, tiny bit of Spanish<br>
        Programming languages: Python, Java and learning C++<br>
        Gender: Male<br>
        Fav color: Green<br></p>
    <img src="{{ url_for('static', filename='walper.webp') }}" alt="walper" style="float: left" id="walperImage">
    <h3 id="center">Walper</h3>
    <br><p>Founder of the Walper Club, Composed the Walper song, From the USA, Java simp.</p>
    <br><br><br><br><br><br><img src="{{ url_for('static', filename='walper.webp') }}" alt="walper" style="float: left" id="walperImage">
    <h3 id="center">Walper</h3>
    <p><br>From Latvia, I love skidding, I despise lombok abuse. Friendly to everyone except if you call me a kike and tell me to rope.</p>
</body>
</html>