<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='walper.ico') }}" type="image/x-icon">
    <title>WalperPedia</title>
</head>
<body>
    <h1 id="bigText">WalperPedia: notable walpers</h1>
    <h2 id="center">In this part of the website, you will find a list of notable walpers.</h2>
    <img src="{{ url_for('static', filename='walper.webp') }}" alt="walper" style="float: left" id="walperImage">
    <p><br><br><br>This walper is the first one calling himself that, and hosts this website, also the Czech one. <br>He would like to call himself a programmer but can't due to some issues of skill.</p>
</body>
</html>